body {
    font-family: 'Noto Sans', sans-serif;
	margin: 0;
}

.center {
	text-align: center;
	border-top:#4d0026 5px solid;
	margin: 25px 0;
}
nav {
	padding: 10px 50px;
	background-color: #4d0026; 
}

nav a{
	font-size: 1.125em;
	color: white;
	text-decoration: none;
	padding: 15px;
}

nav a:hover{
	color: #000080;
}


header {
	margin-top: 75px;
    text-align: center;
	color: white;
	background-color: #4d0026;
	padding: 15px 0;
}

header h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 5.5em;
}

header p {
	font-size: 2.1875em;
	font-weight: 500;
}

section {
	margin-bottom: 25px;
}

.sectionHeading{
	font-size: 2.5em;
	color: #800040;
}

/* About Me section */
#aboutMe {
	margin: 40px auto;
}


#aboutMe p {
	margin-top: 17px;
	line-height: 1.7;
}

#aboutMe img {
	margin-top: 20px;
	border-radius: 20%;
}

/* Skills Section */

#skills li {
	list-style-type: none;
	display: inline;
	text-align: center;
	padding: 0.9em;
}

#skills img {
	height: 110px;
}

.projectList {
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: space-evenly;
}
.projectCard {
	width: 250px;
	text-align: center;
}
#projects img {
	width: 200px;
}
